@charset "UTF-8";
/**{
    margin: 0;
    padding: 0;
}*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/*VARIABLES*/
/*VARIABLES*/
/*MIXINS*/
/*MIXIN*/
/*PARTIALS*/
/* En esta seccion se encuntra el estilo de HEADER*/
.encabezado {
  border-top: 15px solid gray;
}
.encabezado .fuentesNav {
  font-size: 20px;
  text-transform: uppercase;
  padding: 40px;
}
.encabezado .fuentesNav .aNav:hover {
  background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
  border-radius: 5%;
  color: white;
}

/*Contenido Principal del INDEX*/
.card .textoIndex {
  text-align: left;
  padding-left: 3%;
  padding-right: 50%;
  padding-top: 5%;
  padding-bottom: 0%;
  color: white;
  font-family: "Open Sans", sans-serif;
  background-color: none;
  font-size: 1.3rem;
  font-weight: bold;
}

/*Contenido principal Adoptame*/
.tituloAdoptame {
  text-align: center;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 2%;
  padding-bottom: 1%;
  color: aliceblue;
  font-family: "Roboto", sans-serif;
  background-color: #00cdac;
  font-size: none;
  font-weight: none;
}

.botonAdoptar {
  border: none;
  border-radius: 5px;
  text-decoration: none;
  background-color: rgb(150, 147, 147);
  margin-left: 30%;
  padding: 2% 5%;
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
}
.botonAdoptar:hover {
  background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
}

/*Contenido principal ADOPTAR*/
.tituloAdoptar {
  text-align: center;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 2%;
  padding-bottom: 1%;
  color: aliceblue;
  font-family: "Roboto", sans-serif;
  background-color: #00cdac;
  font-size: none;
  font-weight: none;
}

.fondo {
  background-color: rgb(227, 227, 227);
  border-radius: 5px;
}

.botonForm {
  border: none;
  border-radius: 5px;
  text-decoration: none;
  background-color: rgb(150, 147, 147);
  margin-left: 44%;
  padding: 0.5% 3%;
  font-weight: bold;
  color: white;
  font-size: 1.3rem;
}
.botonForm:hover {
  background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
}

/*Contenido principal Colabora*/
.comoAyudar {
  text-align: center;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 2%;
  padding-bottom: 1%;
  color: black;
  font-family: "Roboto", sans-serif;
}

.contactoAyuda {
  font-family: "Open Sans", sans-serif;
  font-weight: 1000;
  text-align: center;
  padding: 40px;
}

/*Contenido principal Contacto*/
.tamMapa {
  width: 80%;
  height: 300px;
}

.botonFormContacto {
  border: none;
  border-radius: 5px;
  text-decoration: none;
  background-color: rgb(150, 147, 147);
  margin-left: 0%;
  padding: 0.5% 3%;
  font-weight: bold;
  color: white;
  font-size: 1.3rem;
}
.botonFormContacto:hover {
  background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
}

/*MEDIAQUERIES*/
/*MEDIAQUERIES*/
/*Tamaño del logo*/
@media (min-width: 700px) {
  .logoAmigosPeudos {
    width: 80%;
    cursor: pointer;
  }
}
@media (max-width: 700px) {
  .logoAmigosPeudos {
    width: 60%;
    cursor: pointer;
  }
}
/*Habilitar o deshabilitar texto del INDEX*/
@media (max-width: 500px) {
  .hidden-xs {
    display: none;
  }
  .textoIndexXS {
    text-align: left;
    padding-left: 3%;
    padding-right: 10%;
    padding-top: 0%;
    padding-bottom: 0%;
    color: rgb(255, 255, 255);
    font-family: "Open Sans", sans-serif;
    background-color: none;
    font-size: 1.1rem;
    font-weight: bold;
  }
  .tituloIndex {
    text-align: left;
    padding-left: 6%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    background-color: none;
    font-size: 1.5rem;
    font-weight: none;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .hidden-xs {
    display: none;
  }
  .tituloIndex {
    text-align: left;
    padding-left: 15%;
    padding-right: 0%;
    padding-top: 2%;
    padding-bottom: 1%;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    background-color: none;
    font-size: 1.5rem;
    font-weight: none;
  }
  .textoIndexXS {
    text-align: left;
    padding-left: 3%;
    padding-right: 30%;
    padding-top: 2%;
    padding-bottom: 0%;
    color: rgb(251, 249, 248);
    font-family: "Open Sans", sans-serif;
    background-color: none;
    font-size: 1.2rem;
    font-weight: bold;
  }
}
@media (min-width: 700px) {
  .tituloIndex {
    text-align: left;
    padding-left: 30%;
    padding-right: 0%;
    padding-top: 3%;
    padding-bottom: 1%;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
  }
  .hidden-large {
    display: none;
  }
  .small-text {
    font-size: 2rem;
  }
}
/*Modificacion de texto en Colabora*/
@media (min-width: 700px) {
  .textoAyuda {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 0%;
    color: black;
    font-family: "Open Sans", sans-serif;
    background-color: none;
    font-size: 1.3rem;
    font-weight: bold;
  }
}
@media (max-width: 700px) {
  .textoAyuda {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 0%;
    color: black;
    font-family: "Open Sans", sans-serif;
    background-color: none;
    font-size: 0.9rem;
    font-weight: bold;
  }
}

/*# sourceMappingURL=estilo.css.map */
