/*MEDIAQUERIES*/
/*Tamaño del logo*/

@media(min-width:700px){
    .logoAmigosPeudos{
        @include logo-tama(80%); 
    }
}
@media(max-width:700px){
    .logoAmigosPeudos{  
        @include logo-tama(60%);
    }
}
/*Habilitar o deshabilitar texto del INDEX*/
@media(max-width:500px){
    .hidden-xs{
        display: none;

    }
    .textoIndexXS{
        @include texto-tamanio-color-tipo(left,3%,10%,0%,0%,rgb(255, 255, 255),$fontParrafo);
        @include texto-fondo-fuente(none,1.1rem,bold);
    }
    .tituloIndex{
        
        @include texto-tamanio-color-tipo(left,6%,0%,0%,0%,#ffffff,$fontTitulo);
        @include texto-fondo-fuente(none,1.5rem,none);
    }
    
}
@media(min-width: 500px) and (max-width: 700px){
    .hidden-xs{
        display: none;
    }
    .tituloIndex{
        @include texto-tamanio-color-tipo(left,15%,0%,2%,1%,#ffffff,$fontTitulo);
        @include texto-fondo-fuente(none,1.5rem,none);
    }
    .textoIndexXS{
        @include texto-tamanio-color-tipo(left,3%,30%,2%,0%,rgb(251, 249, 248),$fontParrafo);
        @include texto-fondo-fuente(none,1.2rem,bold);
    }
}
@media(min-width:700px){
    .tituloIndex{
        @include texto-tamanio-color-tipo(left,30%,0%,3%,1%,#ffffff,$fontTitulo);

    }
    .hidden-large{
        display: none;
    }
    .small-text {
        font-size: 2rem;
    }
    
}
/*Modificacion de texto en Colabora*/
@media(min-width:700px){
    .textoAyuda{
        @include texto-tamanio-color-tipo(center,5%,5%,1%,0%,black,$fontParrafo);
        @include texto-fondo-fuente(none,1.3rem,bold);
    }
    
}
@media(max-width:700px){
   
    .textoAyuda{
        @include texto-tamanio-color-tipo(center,5%,5%,1%,0%,black,$fontParrafo);
        @include texto-fondo-fuente(none,0.9rem,bold);
    }
}